<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About Me</h2>
<p class="mb-3 f4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}" style="text-align: justify">
    As a Machine Learning Scientist at Expedia Group, my focus is on developing recommendation systems within the lodging and travel environment. 
    I work with big amounts of distributed data, build and evaluate machine learning models, and analyze user behavior to improve the performance of these systems.
    <br>
    <br>
    With a BSc in Computer Science from the University Carlos III of Madrid and an MSC from KTH Royal Institute of Technology, 
    I have a strong foundation in computing and a deep understanding of machine learning techniques.
    <br>
    <br>
    In addition to my technical skills, I am fluent in English, Spanish, and French, 
    which allows me to effectively communicate with teams and partners from around the world.
    <br>
    <br>
    As a lifelong learner, I constantly seek new challenges and opportunities to expand my skills and expertise. 
    I am passionate about technology and innovation and strive to make a meaningful impact on the industry.
</p>
